<section id="result" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price ($)</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let products of prolist">
                    <th scope="row">P_{{ products.id_product }}</th>
                    <td>{{ products.name }}</td>
                    <td>{{ products.qty }}</td>
                    <td>{{ products.price }}</td>
                    <td>
                        <form >
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                    <td>
                        <a href="">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</section>