<!-- Sign Up -->
<section id="login">
    <div class="container">
      <div class="row">

        <div class="col-md-12 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4>User Account</h4>
            </div>
            <div class="card-body">
              <form (submit)="signupuser($event)">
                <div class="form-group">
                  <label for="email">Name</label>
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Enter the name" id="name">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="email">Pick a User Name</label>
                    <input type="text" class="form-control" id="uname">
                </div>
                <div class="form-group">
                  <label for="email">Your Email</label>
                  <input type="email" class="form-control" id="email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="password">Your Password</label>
                  <input type="password" class="form-control" id="pass">
                </div>
                <div class="form-group">
                    <label for="password">Retype the Password</label>
                    <input type="password" class="form-control" id="cpass">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1" muted>Agree to our Terms & Conditions, Visitor Agreement and Privacy Policy.</label>
                </div>
                <input type="submit" value="Register" class="btn btn-primary btn-block">
              </form>
            </div>
          </div>
        </div>

        </div>
    </div>
</section>